name: llm_rag_env
channels:
  - defaults
  - conda-forge
  - pytorch
dependencies:
  - python=3.10
  - numpy
  - pandas
  - scikit-learn
  - faiss-cpu
  - pip
  - pip:
      - torch
      - transformers
      - datasets
      - sentence-transformers
      - evaluate
